/* ===== Estilo general ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-agregar {
  background: #3498db;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.btn-agregar:hover {
  background: #2980b9;
}

.lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.tarjeta {
  background: black;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.portada {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.portada:hover {
  transform: scale(1.03);
}

.info {
  padding: 15px;
}

/* ===== Acciones (editar y eliminar) ===== */
.acciones {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.acciones button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background: #217243;
  color: white;
  cursor: pointer;
}

.acciones button:last-child {
  background: #e74c3c;
}

/* ===== Filtros y buscador ===== */
.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: flex-end;
}

.filtros-container label {
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-width: 160px;
}

.filtros-container select,
.filtros-container input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #1a1a1a;
  color: white;
  font-size: 14px;
}

/* ===== Buscador dentro de filtros ===== */
.buscador-centrado {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buscador-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
}

.buscador {
  width: 100%;
  padding: 12px 20px 12px 0px; /* Espacio a la derecha para la lupa */
  font-size: 18px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #fff;
  transition: border 0.3s, box-shadow 0.3s;
  text-align: center;
}

.buscador:focus {
  outline: none;
  border-color: #00bcd4;
  box-shadow: 0 0 8px rgba(0, 188, 212, 0.5);
}

.icono-lupa {
  position: absolute;
  top: 50%;
  right: 14px; /* Alineado al lado derecho */
  transform: translateY(-50%);
  color: #aaa;
  font-size: 22px;
  pointer-events: none;
}


/* ===== Mensajes de estado ===== */
.estado-mensaje {
  text-align: center;
  font-size: 18px;
  color: #cccccc;
  margin: 40px 0;
}

.estado-mensaje.error {
  color: #ff4c4c;
}
