<div class="header">
  <h2>Películas</h2>
  <a routerLink="/agregar" class="btn-agregar">Agregar nueva</a>
</div>

<label for="genero">Filtrar por género:       </label>
<select [(ngModel)]="generoSeleccionado" name="genero">
  <option value="Todos">Todos</option>
  <option value="Acción">Acción</option>
  <option value="Comedia">Comedia</option>
  <option value="Drama">Drama</option>
  <option value="Terror">Terror</option>
  <option value="Animación">Animación</option>
  
</select>

<input
  type="text"
  placeholder="Buscar por título, género, director o año..."
  [(ngModel)]="busqueda"
  class="buscador"
/>


<!-- Mostrar lista o mensaje vacío -->
<ul class="lista" *ngIf="peliculasFiltradas.length > 0; else sinResultados">
  <li *ngFor="let pelicula of peliculasFiltradas">
    <a [routerLink]="['/pelicula', pelicula.id]" *ngIf="pelicula.imagen">
      <img [src]="pelicula.imagen" alt="{{pelicula.titulo}}" class="portada" />
    </a>
    <div class="acciones">
      <button (click)="editar(pelicula.id)">Editar</button>
      <button (click)="eliminar(pelicula.id!)">Eliminar</button>
    </div>
  </li>
</ul>

<ng-template #sinResultados>
  <p>No hay películas registradas.</p>
</ng-template>
